.Filter {
    font-size: 10pt;
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    border-bottom: 2px solid rgb(21, 46, 113);
    text-align: left;
    background-color: #fff;
    color: rgb(21, 46, 113);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Filter.selected {
    background-color: rgb(21, 46, 113);
    color: #fff;
}


.Filter:last-child {
    border-bottom: none;
}

.Filter .name {
    font-size: 14pt;
}

.Filter .name .bold {
    font-weight: bold;
}

.Filter svg {
    font-size: 30px;
    color: rgb(206, 206, 206);
}

.Filter.selected svg {
    color: #fff;
}